@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color: #87bb34;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0 1.5rem;
    background-color: white;
}

/* -- JUMBOTRON */

.jumbotron {
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}

.jumbotron h1 {
    font-size: 6rem;
    margin: 0;
}

.logo {
    margin: 3rem;
    height: 10rem;
    width: auto;
}

h1 {
    font-size: 3rem;
}

/* -- NAV */

nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    display: flex;
    justify-content: center;

    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}

nav li {
    font-size: 2rem;
    margin: 0 3rem;
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly
}

/* --- ARTICLE */

.article {
    border: 1px solid #323232;
    border-radius: 5px;

    padding: 1rem;
    margin-top: 2rem;
    width: 28%;
    background-color: white;

    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;

    box-shadow: 3px 3px 3px rgba(154, 154, 154, 0.5);
}

.article-name {
    font-weight: bold;
}

.article-category {
    margin-top: 0;
}

.article-img img {
    width: 100%;
    height: auto;
}

.article-avis {
    padding-bottom: 0.5rem;
}

.article-avis i {
    color: #ffc401
}

.article-bottom {
    display: flex;
    justify-content: space-between;
}

.article-bottom i {
    margin-right: 0.5rem;
}

.article button {
    padding: 0 1rem;
}

.article-price {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: white;
    background-color: black;
    font-weight: bold;
}

/* --- FOOTER */

footer {
    border-top: 1px solid black;
    margin-top: 2rem;
    padding: 1.5rem 0 1rem 0;
    text-align: center;

    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.footer-content iframe {
    width: 30rem;
    height: 15rem;
}

.adresse {
    width: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.adresse>p:nth-child(1) {
    margin-top: 0;
}

footer p {
    margin-top: 2rem;
    margin-bottom: 0;
}